* {
	margin: 0;
	padding: 0 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

.container {
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
}

.header {
	background: #222222;
	position: relative;
	padding: 18px 0;
}
.header_wrap {
	display: flex;
	justify-content: space-between;
}
.header_left {
	display: flex;
	align-items: center;
}
.header_logo {
	margin-right: 41px;
	text-decoration: none;
}
.header_icon {
	fill: white;
	transition: all 0.2s linear;
}
.header_icon:hover {
	fill: #f16d7f;
	transition: all 0.2s linear;
}
.header__right {
	align-items: center;
	display: flex;
}

.menu {
	margin-right: 25px;
}
.menu__list {
	background-color: white;
	padding: 16px 17px 37px 35px;
	position: absolute;
	right: 0;
	top: 100%;
	box-shadow: 0px 10px 10px #f16d7f;
	transition: transform 0.2s linear;
	z-index: 10000;
	transform: scaleX(0);
	display: flex;
	flex-direction: column;
}
.menu__list h4 {
	font-size: 14px;
	line-height: 1.2;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.menu__list ul {
	font-size: 14px;
	line-height: 1.2;
	color: #f16d7f;
	font-weight: 400;
}
.menu__list ul .menu-link {
	font-size: 14px;
	line-height: 1.2;
	color: #f16d7f;
	font-weight: 400;
}
.menu__list ul .menu-link:hover {
	text-decoration: none;
	transition: all 0.2s linear;
}
.menu__list ul:not(:last-child) {
	margin-bottom: 20px;
}
.menu__list ul li {
	margin-top: 12px;
	margin-left: 22px;
	text-transform: capitalize;
	cursor: pointer;
	padding-right: 60px;
	list-style-type: none;
}
.menu__list ul a {
	font-size: 14px;
	line-height: 1.2;
	color: #6f6e6e;
	font-weight: 400;
	transition: all 0.2s linear;
	text-decoration: none;
}
.menu__list ul a:hover {
	font-size: 14px;
	line-height: 1.2;
	color: #f16d7f;
	font-weight: 400;
	text-decoration: underline;
}
.menu__opened {
	transform: scaleX(1);
}
.btn-menu {
	background: none;
	padding: 0;
	cursor: pointer;
	border: none;
}
.btn-menu__close {
	background: none;
	cursor: pointer;
	border: none;
	margin-bottom: 5px;
	transition: all 0.2s linear;
	fill: #6f6e6e;
	margin-left: 180px;
}
.btn-menu__close:hover {
	transform: scale(1.2);
	fill: #f16d7f;
}
.header_item:not(:last-child) {
	margin-right: 21px;
}

.intro {
	background-color: #f1e4e6;
	height: 764px;
	margin-bottom: 65px;
}
.intro_wrap {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: flex-end;
	background-image: url(photo/category/image_top.svg);
	background-repeat: no-repeat;
	background-position: -208px bottom;
	z-index: 5;
}
.intro_text {
	width: 100%;
	max-width: 405px;
	padding-left: 20px;
	border-left: 12px solid #f16d7f;
	margin-right: 100px;
}
.intro_title {
	font-weight: 700;
	font-size: 32px;
}
.decor_brand {
	font-weight: 900;
	font-size: 48px;
}
.decor_fashion {
	color: #f16d7f;
}

.category {
	margin-bottom: 96px;
}
.category_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.category_item {
	position: relative;
	background-color: #f16d7f;
	cursor: pointer;
}
.category_item:not(:last-child) {
	width: 360px;
	height: 260px;
	margin-bottom: 30px;
}
.category_item:last-child {
	width: 100%;
	height: 180px;
}
.category_item_picture {
	display: block;
	transition: opacity 0.2s linear;
	width: 100%;
}
.category_item_picture_wrap {
	background: #060608;
	background: linear-gradient(0deg, #060608 38%, rgba(241, 109, 127, 0.93041) 100%);
	transition: transform 0.2s linear;
}
.category_item:hover .category_item_picture_wrap {
	transform: translate3d(-10px, -10px, 0);
}
.category_item:hover .category_item_picture {
	opacity: 0.3;
}
.category_item:hover .category_text {
	opacity: 1;
}
.category_text {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	text-align: center;
	transform: translate3d(0, -50%, 0) translate3d(-10px, -10px, 0);
	opacity: 0;
	transition: opacity 0.2s linear;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	font-weight: 400;
}
.category_text svg {
	margin-top: 5px;
}
.category_link {
	text-decoration: none;
}
.category_text_header {
	font-size: 24px;
	line-height: 29px;
	color: #f16d7f;
	font-weight: 700;
	text-transform: uppercase;
}

.featured {
	margin-bottom: 95px;
}
.featured_wrap {
	text-align: center;
}
.featured_title {
	font-size: 30px;
	line-height: 36px;
	color: #222222;
	margin-bottom: 6px;
}
.featured_text {
	font-size: 14px;
	line-height: 17px;
	color: #9f9f9f;
	margin-bottom: 48px;
}
.featured_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 48px;
}
.featured_item {
	width: 360px;
	margin-bottom: 30px;
	position: relative;
}
.featured_item:hover {
	box-shadow: 0 5px 8px #f16d7f;
	transition: all 0.2s linear;
}
.featured_item:hover .featured_image {
	filter: brightness(30%);
	transition: all 0.4s linear;
}
.featured_item_content {
	padding: 25px 17px 20px;
	text-align: left;
}
.featured_item_title {
	font-size: 13px;
	line-height: 16px;
	color: #000;
	margin-bottom: 13px;
}
.featured_item_link {
	text-decoration: none;
	color: #000;
}
.featured_item_text {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5d5d5d;
	margin-bottom: 18px;
}
.featured_item_price {
	font-size: 16px;
	line-height: 19px;
	color: #f16d7f;
}

.add-box {
	position: absolute;
	top: 185px;
	display: none;
	justify-content: center;
	width: 100%;
}
.featured_item:hover .add-box {
	display: flex;
}
.add {
	border: 1px solid #ffffff;
	padding: 10px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.add:hover {
	box-shadow: 0 0 10px #f16d7f;
	transform: scale(1.2);
	transition: all 0.2s linear;
}
.add-text {
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
	margin-left: 8px;
}

.button {
	border: 1px solid #ff6a6a;
	font-size: 16px;
	line-height: 19px;
	color: #f26376;
	padding: 15px 40px;
	text-decoration: none;
	transition: all 0.2s linear;
}
.button_main {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 58px;
	transition: all 0.2s linear;
}
.button:hover {
	background: #f16d7f;
	border: 1px solid #ff6a6a;
	color: #ffffff;
	transition: all 0.2s linear;
}
.button_main:hover {
	transform: scale(1.2);
	transition: all 0.2s linear;
}

.footer_top {
	background: #222224;
}
.footer_top_quality {
	display: flex;
	justify-content: space-between;
}
.footer_top_info {
	max-width: 360px;
	width: 100%;
	margin-top: 103px;
	margin-bottom: 103px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer_top_info a {
	text-decoration: none;
}
.footer_top_info_logo {
	margin-bottom: 28px;
}
.footer_top_info_logo:hover {
	transform: scale(1.5);
	transition: all 0.2s linear;
}
.footer_top_info_title {
	margin-bottom: 16px;
	font-size: 19.96px;
	line-height: 24px;
	color: #fbfbfb;
}
.footer_top_info_text {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #a7a4a4;
}

.subscribe {
	background-image: url(photo/subscribe/BG.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 87px;
	padding-bottom: 126px;
}
.subscribe_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.subscribe_block_content {
	max-width: 360px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.subscribe_img {
	margin-bottom: 30px;
}
.subscribe_block_text {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #222224;
}
.subscribe_block_form {
	max-width: 540px;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.subscribe_block_form_title {
	font-size: 18px;
	font-weight: normal;
	line-height: 165%;
	color: #222224;
	margin-bottom: 32px;
}
.subscribe_span {
	font-size: 20px;
	font-weight: bold;
}
.subscribe_form {
	display: flex;
	justify-content: center;
	max-width: 356px;
	width: 100%;
}
.subscribe_input {
	width: 256px;
	background: #e1e1e1;
	border: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 16px 22px;
	outline: none;
}
.subscribe_form_button {
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	padding: 16px 6px;
	border: none;
	background: #f16d7f;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	transition: all 0.2s linear;
}
.subscribe_form_button:hover {
	color: black;
	background: #e1e1e1;
}

.footer_bot {
	background: #222224;
}
.footer_wrap {
	padding: 24px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer_copy {
	font-size: 16px;
	line-height: 19px;
	color: #fbfbfb;
}
.footer_social_media {
	display: flex;
}
.social_media_item {
	background: #fff;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s linear;
}
.social_media_item:not(:last-child) {
	margin-right: 7px;
}
.social_media_item:hover .footer_icon {
	fill: #fff;
	transition: all 0.2s linear;
}
.social_media_item:hover {
	background: #f16d7f;
	transition: all 0.2s linear;
	transform: scale(1.1);
}
.footer_icon {
	fill: #000;
}
